.sixth_page_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45, 4, 4);
}
.sixth_page_container .cinema_container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.sixth_page_container .cinema_container .curtain {
  width: 49%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(103, 4, 4);
  z-index: 100;
}
.sixth_page_container .cinema_container .curtain .curtain_line {
  width: 20px;
  height: 100%;
  background: rgb(0, 0, 0);
}
.sixth_page_container .cinema_container .curtain_1 {
  position: absolute;
  left: 0;
  -webkit-animation: curtainLeftAnimation 3s linear alternate;
          animation: curtainLeftAnimation 3s linear alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.sixth_page_container .cinema_container .curtain_2 {
  position: absolute;
  right: 0;
  -webkit-animation: curtainRightAnimation 3s linear alternate;
          animation: curtainRightAnimation 3s linear alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.sixth_page_container .cinema_container .ceiling {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  position: absolute;
  top: 0;
  background: rgb(56, 24, 24);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  z-index: 999;
}
.sixth_page_container .cinema_container .ceiling .light {
  width: 50px;
  height: 20px;
  border-radius: 50%;
  background: yellow;
  filter: drop-shadow(0 3px 10px yellow);
}
.sixth_page_container .cinema_container .screen_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sixth_page_container .cinema_container .screen_container .screen {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  -webkit-animation: screenStart;
          animation: screenStart;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  transition: 0.3s ease-in-out;
}
.sixth_page_container .cinema_container .screen_container .screen .video {
  position: absolute;
  top: 0;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
  z-index: 999;
}
.sixth_page_container .cinema_container .chair_container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgb(24, 14, 14);
  z-index: 999;
}
.sixth_page_container .cinema_container .chair_container .chairs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.sixth_page_container .cinema_container .chair_container .chairs .chair {
  width: 200px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(176, 11, 11), rgb(64, 11, 11));
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
}
.sixth_page_container .cinema_container .chair_container .chairs .chair div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  border-radius: 50%;
  background: rgba(201, 149, 17, 0.4);
}
.sixth_page_container .cinema_container .chair_container .chairs .chair div p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
@-webkit-keyframes curtainLeftAnimation {
  from {
    left: 0%;
  }
  to {
    left: -45%;
  }
}
@keyframes curtainLeftAnimation {
  from {
    left: 0%;
  }
  to {
    left: -45%;
  }
}
@-webkit-keyframes curtainRightAnimation {
  from {
    right: 0%;
  }
  to {
    right: -45%;
  }
}
@keyframes curtainRightAnimation {
  from {
    right: 0%;
  }
  to {
    right: -45%;
  }
}
@-webkit-keyframes screenStart {
  from {
    box-shadow: 0px 0px 0px;
  }
  to {
    box-shadow: 0 0 10px rgb(230, 230, 230), 0 0 20px rgb(230, 230, 230);
    background: rgba(208, 208, 208, 0.84);
    transition: 0.3s linear;
  }
}
@keyframes screenStart {
  from {
    box-shadow: 0px 0px 0px;
  }
  to {
    box-shadow: 0 0 10px rgb(230, 230, 230), 0 0 20px rgb(230, 230, 230);
    background: rgba(208, 208, 208, 0.84);
    transition: 0.3s linear;
  }
}
@-webkit-keyframes movieOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transition: 0.3s linear;
  }
}
@keyframes movieOn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transition: 0.3s linear;
  }
}/*# sourceMappingURL=Sixth_Page.css.map */