.sixth_page_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(45, 4, 4);

  .cinema_container {
    width: 100%;
    height: 100vh;
    position: relative;

    .curtain {
      width: 49%;
      height: 100vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background: rgb(103, 4, 4);
      z-index: 100;

      .curtain_line {
        width: 20px;
        height: 100%;
        background: rgb(0, 0, 0);
      }
    }

    .curtain_1 {
      position: absolute;
      left: 0;
      animation: curtainLeftAnimation 3s linear alternate;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .curtain_2 {
      position: absolute;
      right: 0;
      animation: curtainRightAnimation 3s linear alternate;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }

    .ceiling {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      position: absolute;
      top: 0;
      background: rgb(56, 24, 24);
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      z-index: 999;

      .light {
        width: 50px;
        height: 20px;
        border-radius: 50%;
        background: yellow;
        filter: drop-shadow(0 3px 10px yellow);
      }
    }

    .screen_container {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .screen {
        width: 700px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        animation: screenStart;
        animation-fill-mode: forwards;
        animation-delay: 6s;
        transition: 0.3s ease-in-out;

        .video {
          position: absolute;
          top: 0;
          background-size: cover;
          background-position: center;
          transition: 0.3s ease-in-out;
          z-index: 999;
        }
      }
    }

    .chair_container {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      background: rgb(24, 14, 14);
      z-index: 999;

      .chairs {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .chair {
          width: 200px;
          height: 130px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: linear-gradient(to bottom, rgb(176, 11, 11), rgb(64, 11, 11));
          border-top-left-radius: 40px;
          border-top-right-radius: 40px;
          position: relative;

          div {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 10px;
            border-radius: 50%;
            background: rgba(201, 149, 17, 0.4);

            p {
              font-size: 18px;
              font-weight: bold;
              color: #fff;
            }
          }

        }
      }
    }
  }

  @keyframes curtainLeftAnimation {
    from {
      left: 0%;
    }
    to {
      left: -45%;
    }
  }

  @keyframes curtainRightAnimation {
    from {
      right: 0%;
    }
    to {
      right: -45%;
    }
  }

  @keyframes screenStart {
    from {
      box-shadow: 0px 0px 0px;
    }
    to {
      box-shadow: 0 0 10px rgb(230, 230, 230), 0 0 20px rgb(230, 230, 230);
      background: rgba(208, 208, 208, 0.84);
      transition: 0.3s linear;
    }
  }

  @keyframes movieOn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      transition: 0.3s linear;
    }
  }
}